<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} PAWPAL Fitness {% endblock %} </title>

    {% block stylesheets %}
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">
    {% endblock %}

</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid" >
            <div class="logo" style="color:#377fa7;font-weight: bold;font-size: larger;">
                    PAWPAL FITNESS
            </div>
            <div class="top-social">
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li><a href="{{ path('app_pagevitrine') }}">Home</a></li>
                            <li><a href="">Gyms</a></li>
                            <li><a href="">Trainers</a></li>
                            <li><a href="">Products</a></li>
                            <li class="active"><a href="{{ path('app_aboutus') }}">About us</a>
                                <ul class="dropdown">
                                    <li><a href="{{ path('app_aboutus') }}">About Us</a></li>
                                    <li><a href="{{ path('app_team') }}">Our Team</a></li>
                                </ul>
                            </li>
                            <li><a href="">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg spad" data-setbg="{{asset('img/banniere.png')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About Us</h2>
                        <div class="breadcrumb-controls">
                            <a href="{{ path('app_pagevitrine') }}"><i class="fa fa-home"></i> Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->
     <!-- Aboutus Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="aboutus-page-text">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 m-auto">
                        <div class="section-title">
                            <h2>Who we Are & What We Do</h2>
                            <p>Welcome to our fun and quirky sports platform! 🏋️‍♀️🐶</p>
                        </div>
                    </div>
                </div>
                <img src="{{asset('img/trainning.jpg')}}" alt="">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-us">
                            <h4>ABOUT US</h4>
                            <p>Here at PawPal Fitness, we're not your average gym buddies. We're the matchmakers
                            of the fitness world, connecting you with the perfect workout spots and personal 
                            trainers to unleash your inner athlete!
                            <br>But hey, we're not just about pumping iron and sweating it out on the treadmill.
                            We've got a soft spot for furry friends too! 🐾 That's right, your four-legged pals
                            are welcome here too. From fetching the perfect trainer for Fido to discovering the 
                            latest gym trends, we've got your pet's fitness needs covered.</p>
                            <p>Gyms, rejoice! 🎉 With PawPalFitness, you're not just another face in the crowd. 
                            Showcase your sweat-filled sanctuaries and attract new members faster than you can say "burpee."
                            Plus, with our streamlined job offers feature, finding top-notch trainers to join your team is 
                            as easy as scoring a touchdown.
                            <br>
                            So whether you're a gym junkie, a pet parent, or just looking to break a sweat, 
                            join us at PawPal Fitness for a fitness adventure like no other. 
                            Let's get moving, laughing, and sweating together! 💪🐾
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-quality">
                            <h4>OUR VALUES</h4>
                            <p>Ignite Your Mind, Energize Their Paws</p>
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Inclusivity</li>
                                <li><i class="fa fa-check-circle-o"></i>Innovation</li>
                                <li><i class="fa fa-check-circle-o"></i>Authenticity</li>
                                <li><i class="fa fa-check-circle-o"></i>Collaboration</li>
                                <li><i class="fa fa-check-circle-o"></i>Accessibility</li>
                                <li><i class="fa fa-check-circle-o"></i>Fun</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Aboutus Section End -->

    <!-- Cta Section Begin -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>GeT Started Today</h3>
                    </div>
                    <a href="#" class="primary-btn cta-btn">Sign Up</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

 <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-item">
                        <div class="f-logo">
                            <a href="#"><img src="{{asset('img/logoppf.png')}}" alt="logoppf" style="height:150px;"></a>
                        </div>
                        <p>Engaging in sports not only enhances physical and mental well-being in humans but also brings a lively zest to the lives of our animal companions.</p>
                        <div class="social-links">
                            <h6>Follow us</h6>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <h5>About Us</h5>
                        <div class="footer-blog">
                            <a href="#" class="fb-item">
                                <h6>our team</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Program</h5>
                        <ul class="workout-program">
                            <li><a href="#">Bodybuilding</a></li>
                            <li><a href="#">Running</a></li>
                            <li><a href="#">Streching</a></li>
                            <li><a href="#">Weight Loss</a></li>
                            <li><a href="#">Gym Fitness</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h5>Get Info</h5>
                        <ul class="footer-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>Phone:</span>
                                (216) 71555555
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <span>Email:</span>
                                PawPal@gmail.com
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Address</span>
                                Technological Pole, 2 André Ampère Street, Ariana 2083, Tunisia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ct-inside">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Fantastic five and inspired of <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    {% block javascripts %} 
    <!-- Js Plugins -->
    <script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('js/mixitup.min.js')}}"></script>
    <script src="{{asset('js/jquery.nice-select.min.js')}}"></script>
    <script src="{{asset('js/jquery.slicknav.js')}}"></script>
    <script src="{{asset('js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('js/masonry.pkgd.min.js')}}"></script>
    <script src="{{asset('js/main.js')}}"></script>
    {% endblock %}
</body>

</html>
